@font-face {
    font-family: "Dosis";
    src: url(./Fonts/Dosis/Dosis-Bold.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-ExtraBold.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-ExtraLight.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-Light.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-Medium.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-Regular.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-SemiBold.woff2) format('woff2'),
    url(./Fonts/Dosis/Dosis-VariableFont_wght.woff2) format('woff2'),;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Dosis', sans-serif;
    /* user-select: none; */
}


:root{
    --clr: #C5FFF8;
    --clr2: #96EFFF;
    --clr3: #5FBDFF;
    --clr4: #7B66FF;
}


body{
    width: 100%;
    height: 100vh;
    background-color: var(--clr);
}

@keyframes fade-down {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loadGIF{
    position: absolute;
    animation: fade-down 1.5s ease-in;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #F6FDF9;
    overflow: hidden;
    p{
        margin-top: -15%;
    }
    .gif{
        scale: 0.5;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}


#s1{
    background-color: var(--clr2);
    border-radius: 20px 20px 50px 50px;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        position: absolute;
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .head{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            margin-bottom: 10px;
            .entryarea{
                position: relative;
                width: 200px;
                line-height: 10px;
                input{
                    width: 100%;
                    outline: none;
                    padding: 3px 20px;
                    line-height: 25px;
                    border-radius: 4px;
                    border: 1px solid var(--clr3);
                    transition: 0.2s ease;
                }
                .label{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 21px;
                    font-size: 13px;
                    user-select: none;
                    color: #888;
                    pointer-events: none;
                    padding: 0 10px;
                    margin: 0 0 0 -10px;
                    transition: 0.15s ease; 
                }
                input:focus, input:not(:placeholder-shown) + .label, input:focus + .label{
                    display: inline-block;
                    background-color: var(--clr);
                    top: 0;
                    left: 20px;
                    color: var(--clr4);
                    background: var(--clr2);
                }
                input:focus{
                    background: transparent;
                    border: 1px solid var(--clr4);

                }
            }
            .enter-btn{
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 8px 10px;
                background-color: #5FBDFF;
                border-radius: 4px;
                transition: 0.3s ease;
                display: flex;
            }
            .enter-btn:hover{
                background-color: var(--clr4);
            }
        }
        .footer{
            width: 220px;
            display: flex;
            justify-content: space-around;
            .paste-btn, .clear-btn{
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 10px 25px;
                border-radius: 4px;
                background-color: var(--clr3);
                transition: 0.3s ease;
            }
            .paste-btn:hover, .clear-btn:hover{
                background-color: var(--clr4);
            }
        }
        .fa-duotone{
            margin-right: 5px;
        }
    }
}



#s2{
    padding: 5% 10%;
    .container{
        border-radius: 10px;
        position: relative;
        background-color: var(--clr2);
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .info{
            display: flex;
            flex-direction: column;
        }
        .nameInfo{
            position: relative;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;  
            border-bottom: 2px solid var(--clr4); 
            border-radius: 10px;

            margin-bottom: 5px;
        }
        .fa-duotone{
            margin-right: 5px;
        }
    }
}



#s3{
    margin-top: 10px;
    .pagePreview{
        background-color: var(--clr2);
        border-radius: 80px 80px 50px 50px ;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 5% 10%;
        .title{
            position: relative;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;  
            border-bottom: 2px solid var(--clr4); 
            border-radius: 10px;
            margin-bottom: 5px;
        }
        .prePics{
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .pic{
                position: relative;
                width: 40%;
                margin-bottom: 10px;
                border-radius: 20px;
                margin-bottom: 20px;
                .downPic{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: var(--clr3);
                    border-radius: 0 0 0 10px;
                    padding: 3% 7%;
                    z-index: 1111;
                    color: var(--clr);
                    text-decoration: none;
                }
            }
        }
        .preVid{
            width: 80%;
            border-radius: 10px;
            margin: 10px 0 10px 0;
        }
        .pic, .preVid{
            box-shadow: 0 0 20px 2px #999;
            overflow: hidden;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                scale: 1.12;
            }
        }
        .pageDown{
            width: 70%;
            display: flex;
            justify-content: space-around;
            bottom: 12%;
            .downVid, .downAudio, .downPics{
                cursor: pointer;
                color: #000;
                background-color: var(--clr3);
                padding: 3% 7%;
                border-radius: 5px;
                text-decoration: none;
                transition: 0.3s ease;
                .fa-duotone{
                    margin-right: 5px;
                }
            }
            .downVid:hover, .downAudio:hover, .downPics:hover{
                background-color: var(--clr4);
                color: var(--clr2);
            }
        }
    }
}
